![profiling](https://ydataai.github.io/pandas-profiling/docs/assets/logo_header.png)

## Creating Report that describe entire dataframe to see the fork of **DATA SCIENCE JOB SALARIES**, in just one line of code 

Understanding the **key figures of an entire dataframe** (or database) coding manually can be very long and can take writing a lot of lines. Also if we don't have enough time and have to do it quickly - in the real job, this is business as usual - is always possible to miss something. Before going into the details of the analysis of a data frame I was wondering if there is a package that can give me some sort of preview without head acke.

In Pandas I found that there is a **pandas-profiling** that can be handy for me in the future. 

<img src="https://27a7x92iyp7i4yd8b4bgzvnb-wpengine.netdna-ssl.com/wp-content/uploads/2020/07/giphy-2.gif" width="70" height="70">


### Examples: 
Example reports showcase the potentialities of the package across a wide range of dataset and data types can be found [here](https://pandas-profiling.ydata.ai/docs/master/pages/getting_started/examples.html)

> - NASA Meteorites (comprehensive set of meteorite landing - object properties and locations)  
> - UCI Bank Dataset (marketing dataset from a bank)
> - Orange prices and Coal prices (simple pricing evolution datasets, showcasing the theming options)

The project documentation is [here](https://pandas-profiling.ydata.ai/docs/master/index.html)



In my environment I have installed it adding the package *pandas-profiling*  
I have to say that it was not simple to make it work, because of a lot of error in packages references, but after a afternoon of stop and go finally I found a solution that worked form me [here](https://stackoverflow.com/questions/49314314/unable-to-import-pandas-profiling)

In [17]:
#these are the magic lines that makes me everything works fine# 
# conda install -c conda-forge pandas-profiling  
# conda install -c conda-forge/label/cf201901 pandas-profiling  
# conda install -c conda-forge/label/cf202003 pandas-profiling

## Quick pre Analysis of  data-science-job-salaries

Lets take the sample dataframe from Kaggle  
I have downloaded one that was interesting to me  
https://www.kaggle.com/datasets/ruchi798/data-science-job-salaries

In [11]:

import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

In [12]:
pd.set_option('display.max_columns', 20)
df = pd.read_csv('ds_salaries.csv')
df.head(5)

,Unnamed: 0,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

To generate a report I have just to run this function

In [13]:
profile = ProfileReport(df) #this generates a HTML report , and can take some times depending on the size

-*Unfortunately in Github the output cell is not correcly displayed, code must be runned in python to see it, here I show screenshots*-   
Anyway, ProfileReport generare an html page with several sections  
and from this a can see that 
- there are 607 rows, and 12 columns, 9 of thsi can be categories and 3 are numbers (one is for sure the  salaries) 
- in the second section (Variable) I see that 
   - the information are most on USA
   - company are at most medium size
   - Employee are full time
   - Senior level are the 50 %
   - etc etc
   - the mean salary is 120k$ (with min,max IQR etc)

In [14]:
profile # to dispaly is simple, just type the object and run

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …

![](pic1.png)
![](pic2.png)
![](pic3.png)
![](pic4.png)
![](pic5.png)
![](pic6.png)
![](pic7.png)
![](pic8.png)
![](pic9.png)